---
import Map from '../components/Map.astro';
import spots from '../../data/places.json';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Anime-Location Map</title>
  </head>
  <body class="m-0 p-0">
    <Map spots={spots} />
  </body>
</html>
